.gpt3__poss{
    display: flex;
    flex-direction: row;
}

.gpt3__poss-image {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    margin-right: 2rem;
}

.gpt3__poss-image img {
    width: 100%;
    height: 100%;
}

.gpt3__poss-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.gpt3__poss-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.gpt3__poss-content h4:last-child{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8A71;
    margin-top: 2rem;
}

.gpt3__poss-content h1 {
    font-family: var(--font-family);
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    
}

.gpt3__poss-content p {
    font-family: var(--font-family);
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 27px;
    color: var(--color-text);
    margin-top: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

@media screen and (max-width:950px) {
    .gpt3__poss{
        flex-direction: column;
    }
    .gpt3__poss-image{
        margin: 0 1rem;
    }
}